matplotlib==3.1.1
numpy==1.17.4
numpydoc==0.9.2
pandas==0.25.3
seaborn==0.10.1
streamlit==0.61.0
xlrd==1.2.0
XlsxWriter==1.2.6
pickleshare==0.7.5
scikit-learn @ file:///D:/bld/scikit-learn_1611079929791/work
